# Course out line
- Introduction to functions
- Defining finctions
- Calling finctions
- Function overlaoding
- Default parameters
- Variable- Length Arguments
- Return statement

- Function is a block of code that performs a specific task. functions help in organizing code, reusing code, and improving readability.

In [1]:
## Syntax
def function_name(parameters):
    """Docstring"""
    # function body
    return expression

In [7]:
## Why functions?

def even_or_odd(num):
    """ This  function finds even or odd"""
    if num % 2==0:
        print("The number is even")
    else:
        print("The number is odd")

In [10]:
# Call this function
even_or_odd(99)

The number is odd

In [11]:
# function mulitple paarmeters
def add(a, b, c):
    return a +b+c
result = add(2, 3,4)
print(result)

9

In [14]:
## Default parameter

def greet(name= "Guest"):
    print(f"Hello {name} Welcome to the paradise")

greet()

Hello Guest Welcome to the paradise

In [15]:
def greet(name= "Guest"):
    print(f"Hello {name} Welcome to the paradise")

greet("Soumya")

Hello Soumya Welcome to the paradise

In [ ]:
## Variable length arguments
# Position and keyword arguments

def print_numbers(*soumya):
    for number in soumya:
     print(number)

In [19]:
print_numbers(1,2,3,4,"soumya")

1
2
3
4
soumya

In [20]:
# Positional arguments
def print_numbers(*args):
    for number in args:
     print(number)

In [21]:
print_numbers(1,2,3,'soumya')

1
2
3
soumya

In [23]:
# keyword arguments
def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [24]:
print_details(name= "Soumya", age = 25, state= "Odisha")

name:Soumya
age:25
state:Odisha

In [25]:
def print_details(*args, **kwargs):
    for val in args:
        print(f"Positional argument:{val}")
        
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [26]:
print_details(1,2,3, name= "Soumya", age = 25, state= "Odisha")

Positional argument:1
Positional argument:2
Positional argument:3
name:Soumya
age:25
state:Odisha

In [30]:
## return statements
def multiply(a, b):
    return a*b

multiply(2,3)

6

In [32]:
## Return multiple parameters
def multiply(a, b):
    return a*b, b

multiply(2, 4)

(8, 4)