# Lambda Function in Python
-Lambda functions are small anonymous functions defined using the lambda keyword. They can have any number of arguments but only one expression.They are commonly used for short operations or as arguments to higher-order functions.

In [1]:
# Syntax
lambda arguments: expression

In [2]:
def addition(a,b):
    return a + b

In [3]:
addition(2,5)

7

In [4]:
addition = lambda a,b: a + b
type(addition)  # <class 'function'>

function

In [5]:
print(addition(3,4))

7

In [6]:
def even(num):
    if num%2 ==0:
        return True
    
even(24)

True

In [ ]:
even1 = lambda num:num%2==0
even1(10)

True

In [8]:
def addition(x,y,z):
    return x+y+z

addition(14,25,36)

75

In [9]:
addition=lambda x,y,z:x+y+z
addition(12,23,34)

69

In [ ]:
## map() - applies a function to all items in a list
numbers = [1,2,3,4,5,6]
def sqaure(number):
      return number **2

sqaure(3)

9

In [12]:
list(map(lambda x:x**2, numbers))

[1, 4, 9, 16, 25, 36]

# Map() function in Python
- The map() function applies a given function to all items in an input list(or any other iterable )and returns a map object (an iterator). This is particulariy useful for transforming data in a list comprehensively.

In [13]:
def sqaure(x):
    return x*x

sqaure(10)

100

In [16]:
numbers= [1,2,3,4,5,6,7,8]

list(map(sqaure, numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [17]:
## lambda function with map
numbers= [1,2,3,4,5,6,7,8]

list(map(lambda x: x*x, numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [20]:
### map multiple items
numbers1= [1,2,3]
numbers2 = [4,5,6]

added_numbers = list(map(lambda x,y:x+y, numbers1,numbers2))
print(added_numbers)

[5, 7, 9]

In [2]:
## map() to convert a list of string to integers
##Use map to convert string to integers
str_numbers = ['1','2','3','4',]
int_numbers = list(map(int, str_numbers))

print(int_numbers)

[1, 2, 3, 4]

In [4]:
words = ['Apple','BaNana','Cherry']
upper_word = list(map(str.upper, words))
lower_word  =list(map(str.lower,words))
print(upper_word)
print(lower_word)

['APPLE', 'BANANA', 'CHERRY']
['apple', 'banana', 'cherry']

In [8]:
def get_name(person):
    return person['name']

people=[
    {'name':'krish','age':34},
    {'name':'soumya','age':25},
    {'name':'Akash','age':22},
    {'name':'Binya','age':21}
]
list(map(get_name,people))

['krish', 'soumya', 'Akash', 'Binya']

### The map() function is a powerful tool for applying transformations to iterable data structures. It can be used with regualr functions. Lambda functions, and even multiple iterables, providing a versatile approach to data processing in Python. By understanding and utilizing map().

## The Filter() function in Python
- The filter () function constructs an iterator from elements of an iterable fro which a function returns true. It is ued to filter out items from a list (any other iterable) based on a condition.

In [9]:
def even(num):
    if num%2==0:
        return True

In [10]:
even(34)

True

In [12]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12]

list(filter(even, lst))

[2, 4, 6, 8, 10, 12]

In [19]:
### filter with lambda function
numbers =[1,2,3,4,5,6,7,8,9]
greater_than_fuve = list(filter(lambda x:x>5, numbers))
print(greater_than_fuve)

[6, 7, 8, 9]

In [20]:
## with multiple condition
numbers =[1,2,3,4,5,6,7,8,9]
even_and_greater_than_five= list(filter(lambda x:x>5 and x%2==0,numbers))
print(even_and_greater_than_five)

[6, 8]

In [25]:
#filter() to check if the age is greater than 25 in dictionary
people=[
    {'name':'krish','age':34},
    {'name':'soumya','age':25},
    {'name':'Akash','age':27},
    {'name':'Binya','age':26}
]

def age_greater_than_25(person):
    return person['age']>25

list(filter(age_greater_than_25, people))

[{'name': 'krish', 'age': 34},
 {'name': 'Akash', 'age': 27},
 {'name': 'Binya', 'age': 26}]

## Conclusion
- The filter funciton is a powerful tool for creating iterators that filter items out of an iterable based on a function. It is commonly used for data cleaning, filtering objects, and removing unwanted elements from lists. By mastering filter().