 Python input() function is used to take user input. By default, it returns the user input in form of a string.

In [4]:
Name = input("Enter Your name:")
print("Hello,", Name, "| Welcome !")

Hello, soumya | Welcome !

# Take multiple input in python
- We are taking multiple input from the user in a single line spliting the values entered by the user into separate variables for each value using the split() method.

In [6]:
# taking two inputs at a time 
x, y = input("Enter two values :").split()
print("Number of boys:", x)
print("Number of girls:", y)

Number of boys: 34
Number of girls: 45

In [8]:
# taking three input at a time
x, y, z = input("Enter three values:" ).split()
print("Total number of students:", x)
print("No of boys:", y)
print("No of girls:", z)

Total number of students: 40
No of boys: 30
No of girls: 10

# Take conditional input from user in python.

In [9]:
# Promting the user for input
age_input = input("Enter your age:")

# Converting the input to an integer
age = int(age_input)

# Checking conditions based on user input
if age < 0:
    print("Please enter a valid age.")
elif age < 18 :
    print("You are a minor.")   
elif age >= 18 and age < 65:
    print("You are an adult.")
else:
    print("You are a senior citizen.")

You are an adult.

## How to change the type of input in python
- By default input() function helps in taking user as string. if any user wants to take input as int or float, we just need to typecast it.

In [10]:
# Taking input as string 
color = input("What color is rose?: ")
print(color)

red

In [ ]:
# Taking input as int
# Typecasting to int
n = int(input("How many roses?: "))
print(n)

40

In [12]:
# Taking input as float
# Typecasting to float
price = float(input("Price of the rose :"))
price

30.0

In [3]:
float(10)
str(10)
int(20.0)

20

In [6]:
a = int(input("Enter first no.:"))
b = int(input("Enter second no."))
avg = a / b
print("Average of two no.: ", avg)
print(round(avg, 2))

Average of two no.:  0.5
0.5

In [8]:
radius = float(input("Enter the radius"))
area = 3.1412 * radius * radius
circumeference = 2 * 3.1412 * radius
print("The arae of circle:", area)
print("Circumeference of the circle :", circumeference)

The arae of circle: 78.53
Circumeference of the circle : 31.412

In [13]:
# Find DataType of input in Python

a = "Hello Soumya"
b = 300
c = 499.0
d = ("som", "agni","lima")
e = ["Deba", "love" "Yopu"]
f = {"name":"lima", "age":23, "place":"jajpur"}

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

# Output Formating
- Output formatting in python with various techniques including the format() method, manipulation of the sep and end parameters, f-string and the versatile % operator.

In [2]:
amount = 150.78
print("Amount: ${:.2f}". format(amount))

Amount: $150.78

In [3]:
# end parameter with '@'
print("Python", end='@')
print("GeeksforGeeks")

Python@GeeksforGeeks

In [8]:
# Separating with comma
print('S', 'O','U', sep = '')

# for formatting a date
print('25', '05', '2025', sep = '-')

# another
print('soumya','geeksforgeeks', sep = '@')

SOU
25-05-2025
soumya@geeksforgeeks

In [15]:
# using F-string
name = 'Debasmita'
age =  23
print(f"Hello, My name is {name} and I'm {age} years old.")

#
Name = 'Soumya Ranjan Sahoo'
Age = 25
City = 'BBSR'
Designation = 'Data Analyst'
print(f"My name is {Name}. I belong from {City} and {Age} yrs old. I am a {Designation}.")

Hello, My name is Debasmita and I'm 23 years old.
My name is Soumya Ranjan Sahoo. I belong from BBSR and 25 yrs old. I am a Data Analyst.

# Using % operator
- We can use '%' operator. % values are replaced with zero or more value of elements. The formatting using % is smaller to that of 'printf' in the c programming olanguage.
* %d - Integer
* %f- Float
* %s - String
* %x - Hexadecimal
* %o - Octal

In [18]:
# Using % Operator
# Taking input from the user
num = int(input("Enter a value"))

add = num + 5

print("The sum is %d" %add)

The sum is 55