# Tuples
-A tuple is a built-in data type that stoes multipe values like a list, but it is immutable(cannot changed after creation.)
1. introduction to tuples
2. Creating Tuples
3. Accessingtuple elements
4. Tuple opeartions
5. Tuple Methods
6. Packing and updating tuples
7. Immutable nature of tuples
8. Nested tuples
9. Practical examples and common errors

In [1]:

## creating tuple
empty_tuple =()
print(type(empty_tuple))

<class 'tuple'>

In [2]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:

numbers = tuple([1,2,3,4,5,6,])
numbers

(1, 2, 3, 4, 5, 6)

In [4]:

list((1,2,3,4,5,6))
list

list

In [5]:

mixed_tuple =(1, 'hello world',3.45,True)
mixed_tuple

(1, 'hello world', 3.45, True)

In [6]:
## accessing tuple
numbers[3]

numbers[::2]

(1, 3, 5)

In [7]:

## tuple operations
concatenation_tuple = numbers + mixed_tuple
concatenation_tuple

mixed_tuple * 2

(1, 'hello world', 3.45, True, 1, 'hello world', 3.45, True)

In [8]:
## immutable nature of tuples
## tuples are immutable

lst = [1,2,3,4,5,6]
print(lst)

lst[1]= "soumya"
print(lst)

numbers[1]= "soumya"

[1, 2, 3, 4, 5, 6]
[1, 'soumya', 3, 4, 5, 6]

TypeError: 'tuple' object does not support item assignment

In [9]:
## tuple methods
print(numbers.count(1))
# print(mixed_tuple.index(2))

1

In [10]:
## packing and unpacking tuple
packed_tuple = 1, "helo",3.24
print(packed_tuple)

(1, 'helo', 3.24)

In [11]:
## unpacking tuple
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
helo
3.24

In [12]:
# unpacking with
numbers =(1,2,3,4,5,6)
first, *middle, last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [13]:
## nested tuple
## nested list
lst =[[1,2,3,4],[6,7,8,9],[1,"hello",3.14,"c"]]
lst[0][0:3]

lst[2][0:3]

nested_tuple = ((1,2,3), ("a","b","c"),(True, False))

In [14]:
## access the elements inside a tuple
print(nested_tuple[1][1])

print(nested_tuple[1][2])

b
c

In [15]:

## iterating over nested tuples
for sub_tuple in nested_tuple:
  for item in sub_tuple:
    print(item)

1
2
3
a
b
c
True
False

In [16]:
## in second form
for sub_tuple in nested_tuple:
  for item in sub_tuple:
       print(item, end=" ")
  print(item)

1 2 3 3
a b c c
True False False