# OOPS:
 - Object -oreinted programming (OOPs) is a structure programs using real-wolrd  concept like objects, classes, attributes,and behaviors. Instead of writting everything in one place, we organize code into objects.

- Example : A student, car, Bank Account, each can be represented as an object- in python.
- class : Blueprint
- object : Real Instance]
- Atributes : Data
- Methods : Behaviors
-- Using oop make code
- Reusable
- Organized
- Easy to maintain
- Similar to real-world objects

In [23]:
# class creation
class Student:
      name = "Soumya ranjan"  # attribute
      roll_no = 7
      age = 25
      sub = "math"
      course = "BCA"

# creating object
s1= Student()
print(s1.name)
print(s1.age)
print(s1.roll_no)

Soumya ranjan
25
7

In [28]:
#example
class Vehicle:
    color ="red"
    petroOrdiesel = "petrol" #attribute
    mileage = "15"  

 #object creation

car = Vehicle()
print(car.color)

bike= Vehicle()
print(bike.mileage)

tarin = Vehicle()
print(tarin.color)
print(tarin.mileage)

 #we created one class and 3 objects of that class

red
15
red
15

In [2]:
# Create a class car with atribute brand ="Scorpio".

class Car:
    brand = "Scorpio"

obj1 =Car()
print("Brand name is -", obj1.brand)

Brand name is - Scorpio

In [5]:
#Create a class laptop with attributes brand, ram ,cpu, price. 
#Create 2 objects of the class laptop and print all the attributes.

# creating class
class Laptop:
    brand = "Dell"
    ram = "8GB"
    cpu = "i5"    # attribute
    price = 55000

#creating objects
laptop1 = Laptop()
laptop1.brand = "HP"
laptop1.ram = "16GB"

Laptop2 = Laptop()
Laptop2.brand = "Apple"
Laptop2.price = 120000
print("Laptop 1 details:", laptop1.brand, laptop1.ram, laptop1.cpu, laptop1.price)
print("Laptop 2 details:", Laptop2.brand, Laptop2.ram, Laptop2.cpu, Laptop2.price)

Laptop 1 details: HP 16GB i5 55000
Laptop 2 details: Apple 8GB i5 120000

# Methods

In [8]:
class Student:
    school_name = "ABC School"

    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade

student1 = Student("Alice", 14, "8th")
print("Student Name:", student1.school_name)

Student Name: ABC School

In [26]:
class Person:
    scientific_name = "Homo sapiens"

    def __init__(self, name, age):
        print("Whenever a new object is created i am called automatically")
        self.name = name
        self.age = age
    

person1 = Person("mr.Soumya", 12)  #limit method will be called
print("Person1 Name:", person1.name)
print("Person1 Age:",person1.age)
print("person1:", person1.scientific_name)

person2 = Person("Aniket", 25)      
print("Person Name:", person2.name)
print("Person Age:", person2.age)

Whenever a new object is created i am called automatically
Person1 Name: mr.Soumya
Person1 Age: 12
person1: Homo sapiens
Whenever a new object is created i am called automatically
Person Name: Aniket
Person Age: 25

In [27]:
class Vehicle:
    color ="red"
    petroOrdiesel = "petrol" #attribute
    mileage = "15"  
    
    def start():
        print("When you press clutch and accelerator then vehicle is started")

 #object creation
car = Vehicle()
print(car.color)

bike= Vehicle()
print(bike.mileage)

tarin = Vehicle()
print(tarin.color)
print(tarin.mileage)

red
15
red
15

In [ ]:
# Static method

# create class student that takes  3 marks and has a method average().
class Student:

    def __init__(self, name, listofmarks):
        self.name = name
        self.listofmarks = listofmarks

    #static method
    def average(self):
        print("The average marks are:", sum(self.listofmarks)/len(self.listofmarks))

student1 = Student("Soumya", [85, 90, 95])     
student1.average()   
print("Student Name:", student1.name)
print("Marks:", student1.listofmarks)

The average marks are: 90.0
Student Name: Soumya
Marks: [85, 90, 95]