1. Display your name, age, calss.

In [2]:
Name = "Soumya"
Age = 25
Class = "BCA"
print("Name:", Name)
print("Age:", Age)
print("Class:", Class)

Name: Soumya
Age: 25
Class: BCA

2. Find the square and cube of a number.

In [3]:
num = 3
square = num **2
cube = num **3
print("Square:", square)
print("cube:", cube)

Square: 9
cube: 27

3.Calculate area of circle, rectangle, triangle

In [7]:
import math
radius = 4
area = math.pi * radius ** 2
print("Area of the circle:", area)

# Rectangle
lenght = 4
width = 3
rectangle = lenght * width
print("Area of the Rectangle:", rectangle)

# Triangle
height = 10
base = 5
triangle = 0.5 * height * base
print("Area of the triangle:", triangle)

Area of the circle: 50.26548245743669
Area of the Rectangle: 12
Area of the triangle: 25.0

In [3]:
# Convert Celsius to Fahrenheit
celicius = 38
fahrenheit = (celicius * 9/5) + 32
print ("Fahrenheit:", fahrenheit)

# convert fahrenheit to celicius
fahrenhiet = 23
celcius = (fahrenhiet - 32) * 5/9
print("celcius :", fahrenheit)

Fahrenheit: 100.4
celcius : 100.4

In [9]:
# Swap two numbers
a = 34
b = 45

# a,b = b, a
# print("a =", a)

temp = a
a = b
b = temp
print("a=", a)
print("b=",b)

a= 45
b= 34

In [11]:
# find the largest three number
a = 34
b = 40
c = 30
if a >= b and b >=c:
    largest = a
elif b >=a and b>=c:
    largest = b
else:
    largest = c    
print("Largest number is:", largest)

Largest number is: 40

In [12]:
# Check if a number is even or odd
num  = 6
if num % 2==0:
    print("even")
else:
    print("odd")

even

In [13]:
# Find ASCII value of a character
char = "A"
print("ASCII value of ", char,"is", ord(char)  )

ASCII value of  A is 65

In [16]:
# Check the character is vowel or consonant
char  = "e"
if char in "aeiou":
    print("vowel")
else:
    print("consonant")

vowel

* Use input() and print() formatting

In [19]:
name = input("Enter your name")
marks = float(input("Yuor marks"))
print(f"My {name} is and i secure {marks} in 10th.")

My Soumya is and i secure 400.7 in 10th.

In [24]:
# Use math functions(sqrt, pow, log)
import math

num = 16
print("Square root:", math.sqrt(num))
print("2 to the power of 3:", math,pow(2,3))
print("log base 10 of 1000:", math.log(1000))

Square root: 4.0
2 to the power of 3: <module 'math' from '/usr/local/python/3.12.1/lib/python3.12/lib-dynload/math.cpython-312-x86_64-linux-gnu.so'> 8
log base 10 of 1000: 6.907755278982137

In [29]:
# Simple calculator using if-else-elif
a = 20
b = 15

operator = input("Enter  operators(+, -,*,/, %, //)")

if operator == '+':
   print("The sum is", a + b)
elif operator == '-':
   print("The substract is", a - b)
elif operator == '*':
   print("The product is", a * b)
elif operator == '/':
   print("The division is ", a / b)
elif operator == '%':
    print("The modulos is", a % b)
elif operator == '//':
   print(a // b)
else :
   print("invalid")

1

In [32]:
# Check leap year
year = 2020

if (year % 4 == 0 and year % 100 !=0) or (year % 400 == 0):
    print(year, "is a leap year")
else:
    print(year, "is not a leap year")

2020 is a leap year